<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="shortcut icon" type="image/x-icon" href="images/Logo_Noir.png" />
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- geocoding -->
    <meta name="geo.placename" content="France" />

      <!-- microdata -->
    <meta name="name" content="Chen" />
    <meta name="description" content="padlock's future" />
    <meta name="image" content="https://www.chen-travel.com/images/padlock-red.png" />

    <!-- Schema.org meta for Google+ -->
    <meta itemprop="name" content="Chen">
    <meta itemprop="description" content="padlock's future">
    <meta itemprop="image" content="https://www.chen-travel.com/images/padlock-red.png">
<!--     <link rel="author" href="Author G+ URL" />
    <link rel="publisher" href="Publisher G+ URL" /> -->

    <!--  meta donnée FACEBOOK -->
    <meta property="og:title" content="Chen" />
    <meta property="og:site_name" content="Chen" />
    <meta property="og:description" content="padlock's future" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.chen-travel.com" />
    <meta property="og:image" content="https://www.chen-travel.com/images/padlock-red.png" />

    <!--  meta donnée TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Chen" />
    <meta name="twitter:site_name" content="@chen" />
    <meta name="twitter:description" content="padlock's future" />
    <meta name="twitter:type" content="website" />
    <meta name="twitter:url" content="https://www.chen-travel.com" />
    <meta name="twitter:image:src" content="https://www.chen-travel.com/images/padlock-red.png" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">



    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Chen" %></title>


    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>


  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%= partial "partials/navbar" %>

      <div id="particles-js"></div>

      <%= yield %>

    <div id='contact'>

    <%= partial "partials/footer" %>
    </div>

    <script src="javascripts/vendor/jquery-3.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!--     <script src="javascripts/vendor/particles.min.js"></script>
    <script src="javascripts/vendor/particles.js"></script> -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <!-- snipcart -->

  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MzczM2Y1YmUtMDUzNy00ZjJjLWIyNTgtYjFmOWIyMGM2NDQ2NjM2MTgyNzA3NTI0MzA0Nzgx"></script>

  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

  </body>
</html>
