<div class="row">
  <div class='col-xs-12 col-sm-8'>

    <%= image_tag "dimension.png", width: "90%", height: "80%", id: "dimension-image" %>

  </div>
    <div>
      <div class='display-caracteristique'>
        <%= image_tag 'carac1.png',  class: 'box box1', width: "50%", height: "50%" %>
        <%= image_tag 'carac2.png',  class: 'box box2', width: "50%", height: "50%" %>
        <%= image_tag 'carac3.png',  class: 'box box3', width: "50%", height: "50%" %>
        <%= image_tag 'carac4.png',  class: 'box box4', width: "50%", height: "50%" %>
        <%= image_tag 'carac5.png',  class: 'box box5', width: "50%", height: "50%" %>
        <%= image_tag 'carac5.png',  class: 'box box6', width: "50%", height: "50%" %>
      </div>

    </div>
</div>


