 <div class="row second_page">
      <%= image_tag 'weight.png', width: '70px', class: "icone" %>
      <p id="feature-weight" class="class">WEIGHING</p>

      <%= image_tag 'tracking.png', width: '70px', class: "icone" %>
      <p id="feature-tracking" class="class">GEO TRACKING</p>

      <%= image_tag 'padlock.png', width: '70px', class: "icone" %>
      <p id="feature-padlock" class="class">PADLOCK</p>

      <%= image_tag 'Battery.png', width: '70px', class: "icone" %>
      <p id="feature-battery" class="class">BATERRY</p>

  <div class="second">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
    <%= image_tag 'padlock-red.png', width: "350px", id: "padlock-red", class: "animated" %>
    </div>
  </div>
</div>
