<div class="padlock-icone">

<div class='columns'>
  <div class='columns is-mobile'>
    <div class="column">
      <a href='#' class="hvr-float">
        <%= image_tag 'lock-brun.png', width: "250px", id:"lock-brun", class: "animated icones" %>
      </a>
        <p class="animated edition">Brown edition</p>
    </div>

    <div class="column">
      <a href='#' class="hvr-float">
        <%= image_tag 'lock-black.png', width: "250px", id:"lock-black", class: "animated icones" %>
      </a>
        <p class="animated edition">Black edition</p>
    </div>
  </div>

  <div class='columns is-mobile'>
    <div class="column">
      <a href='#' class="hvr-float">
        <%= image_tag 'padlock-red.png', width: "250px", id:"lock-red", class: "animated icones" %>
      </a>
        <p class="animated edition">Red edition</p>
    </div>

    <div class="column">
      <a href='#' class="hvr-float">
        <%= image_tag 'lock-white.png', width: "250px", id:"lock-white", class: "animated icones" %>
      </a>
        <p class="animated edition">White edition</p>
    </div>
  </div>

</div>

  <div class="columns">
    <div class="column is-half is-offset-5 button-order animated">

      <%= partial "partials/button-snipcart" %>

    </div>
  </div>

</div>
