    <div class="columns is-mobile title-partner">
      <div class='column is-half is-offset-one-quarter animated'>
        <h2>Ils nous font confiance</h2>
      </div>
    </div>

    <div class='columns is-mobile'>
      <div class="column">
        <%= image_tag 'Sophia_Conseil.png', width: '145px' %>
      </div>
      <div class="column">
        <%= image_tag 'sigfox.png', width: '155px' %>
      </div>
      <div class="column">
        <%= image_tag 'PNDI.png' %>
      </div>
    </div>
    <div class='columns is-mobile'>
      <div class='column'>
        <%= image_tag 'plasseraud.png'%>
      </div>

      <div class='column'>
        <%= image_tag 'Eolane.png', width: '207px' %>
      </div>

      <div class='column'>
        <%= image_tag 'logo-100j-pour-entreprendre.png', width: '165px' %>
      </div>

      <div class='column'>
        <%= image_tag 'adneom.png', width: '170px' %>
      </div>

    </div>

  </div>


