<!-- Your features code -->
  <div class="wrapper-features padded">
    <div class="container feature-container">
      <div class="row">
        <% data.features.each do |index, feature| %>
          <div id="slide0<%= index %>" class="slide">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="features-icone">
                <h2 id="title"><%= feature.title %></h2>
                <%= image_tag feature.png, width: "300px", id: "png" %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="features-comments">
                <p id="paragraphe"><%= feature.sentence_1 %></p>
              </div>
            </div>
            <div class="feature-image">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <%= image_tag feature.image, width: "550", id: "image" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
