<div class="wrapper">
  <div class="container container-banner">
    <div id='home'>

      <div id="particles-js"></div>


      <div class="row">


       <%= partial "partials/chen" %>
      </div>
    </div>
  </div>

  <div class="container second_page">

    <%= partial "partials/features" %>

  </div>

  <div class="container iphone">

    <%= partial "partials/iphones" %>

  </div>

  <div class="container padlock-view">

    <%= partial "partials/padlocks" %>

  </div>

  <div id="team" class="container profile">

    <%= partial "partials/team" %>

  </div>

  <div class="container partner">

    <%= partial "partials/partners" %>

  </div>

</div>
