<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= partial "partials/first_page" %>

    </div>
  </div>


  <div class="container second_page">

    <%= partial "partials/second_page" %>

  </div>



  <div class="container iphone">

  <%= partial "partials/third_page" %>

  </div>

  <div class="container padlock-view">
    <div class="padlock-icone">
      <div class="col-xs-12 col-sm-3">
         <%= image_tag 'lock-brun.png', width: "250px", id:"lock-brun", class: "animated icones" %>
        <p>Brown edition</p>
      </div>
      <div class="col-xs-12 col-sm-3">
          <%= image_tag 'lock-black.png', width: "250px", id:"lock-black", class: "animated icones" %>
        <p>Black edition</p>
      </div>
      <div class="col-xs-12 col-sm-3">
    <%= image_tag 'lock-red.png', width: "250px", id:"lock-red", class: "animated icones" %>
        <p>Red edition</p>
      </div>
      <div class="col-xs-12 col-sm-3">
    <%= image_tag 'lock-white.png', width: "250px", id:"lock-white", class: "animated icones" %>
          <p>White edition</p>
      </div>
    </div>
  </div>

  <div class="container profile">
    <div class="row">
      <div class="profile-component">

      <div class="col-xs-12 col-sm-6">
        <%= image_tag 'vladimir2.jpg', class: "profile-picture img-circle" %>
        <p>Alban de Lanouvelle</p>
        <p>CEO</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag 'alban2.jpg', class: "profile-picture img-circle" %>
        <p>Vladimir Bricout</p>
        <p>CTO</p>
      </div>

      </div>
    </div>
  </div>

  <div class="container partner">
    <div class="row">
      <div class="partner-component">

      <div class="col-xs-12 col-sm-4">
        <%= image_tag 'Sophia_Conseil.png', width: "200px" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag 'PNDI.png', width: "450px" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag 'sigfox.png', width: "225px" %>
      </div>

      </div>
    </div>
  </div>


</div>

