<div class="wrapper">
  <div class="container">
    <div class="row">

      <%= partial "partials/first_page" %>

    </div>
  </div>


  <div class="container second_page">

    <%= partial "partials/second_page" %>

  </div>

  <div class="container iphone">

    <%= partial "partials/third_page" %>

  </div>

  <div class="container padlock-view">

    <%= partial "partials/padlocks" %>

  </div>

  <div class="container profile">

    <%= partial "partials/team" %>

  </div>

  <div class="container partner">

    <%= partial "partials/partners" %>

  </div>


</div>

