<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="first_page">
        <div class="col-xs-12 col-sm-6">
          <div class="locki">
          <%= image_tag 'lock-white.png', width: "350px", id:"lock-white", class: "animated bounceInLeft" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class=" locki sentence">
            <h1>CHEN</h1>
            <p>The first connected padlock fot luggage</p>
            <p>Take care of your suitcase</p>
            <h3>Travel smartly</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="second_page">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
        <%= image_tag 'lock-red.png', width: "350px", class: "animated bounceInLeft" %>
        </div>

        <!-- <div class="icone_page"> -->
          <%= image_tag 'weight.png', width: '70px', class: "icone", id: "weight" %>
          <%= image_tag 'tracking.png', width: '70px', class: "icone", id: "tracking" %>
          <%= image_tag 'padlock.png', width: '70px', class: "icone", id: "padlock" %>
          <%= image_tag 'Battery.png', width: '70px', class: "icone", id: "battery" %>

        <!-- </div> -->
      </div>
    </div>
  </div>
</div>





<!--
      <div class="pin-wrapper">
          <div class="img">
          </div>
          <div class="wrapper">
              <h1>Geo tracking</h1>
              <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas.</p>
          </div>
      </div>


      <div class="pin-wrapper">
          <div class="img">

          </div>
          <div class="wrapper">
              <h1>Weighing</h1>
              <p>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus.</p>
          </div>
      </div>


      <div class="pin-wrapper">
          <div class="img">
          </div>
          <div class="wrapper">
              <h1>Remote opening</h1>
              <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in.</p>
          </div>
      </div>

      <div class="wrapper">
          <h1>Mots du directeur</h1>
          <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
      </div>


 -->
