
<div class="wrapper">

  <div class="container container-banner">
  <div id="particles-js"></div>
    <div id='home'>
      <div class="row">

       <%= partial "partials/chen" %>
      </div>
    </div>
  </div>

  <div class="container second_page">

    <%= partial "partials/features" %>

  </div>
   <div class="container offer">

    <%= partial "partials/offer" %>

  </div>

  <!-- <div class="container iphone">

    <%#= partial "partials/iphones" %>

  </div> -->

  <div class='details-view'>

    <%= partial "partials/details" %>

  </div>

  <div class="container padlock-view">

    <%= partial "partials/padlocks" %>

  </div>

 <!--  <div class="container schedule-view">

    <%#= partial "partials/schedule" %>

  </div> -->

  <div class="container" id="team">

    <%= partial "partials/team" %>

  </div>

  <div class="container partner">

    <%= partial "partials/partners" %>

  </div>

</div>

